@charset"utf-8"
<style>
                /* 콘텐츠 영역 서식*/
                .content {
                    clear: both;
                    padding-top: 10px;
                }

                .content::before {
                    content: "";
                    display: block;
                    width: 100px;
                    height: 3px;
                    background: #333;
                }

                .breadcrumb {
                    height: 42px;
                    line-height: 42px;
                    columns: #333;
                }

                .breadcrumb a {
                    color: #333;
                }

                .con {
                    clear: both;
                    width: 100%;
                }

                .sub_tit1 {
                    line-height: 3.6;
                    text-align: center;
                }
                /*상품 목록 서식*/
                .lst {
                    clear: both;
                    width: 990px;
                    margin: 10px;
                    
                }

                .lst li {
                    float: left;
                    margin: 15px;
                }


               
            </style>
